/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt
!/CHANGELOG.md
!/models/
!/.vscode/
!/TODO.md

src/generated/resources/\.cache/